/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */
h1 {
    margin-left: 1%;
    font-family:'Roboto', sans-serif;
    letter-spacing: -2px;
    word-spacing: -1px;
    font-variant: small-caps;
    justify-content: center;
}

.resource-section {
    width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 40% 40%;
    grid-column-gap: 20%;
    grid-row-gap: 5%;
    width:50%;
    height:50%;
    object-fit:scale-down;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    padding-top: 10%;
    padding-bottom: 30%;
    margin-top: 10%;
    margin-bottom: 20%;
}

.link {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.hidden {
    display: none;
}

label {
    max-width: 100px;
    max-height: 100px;
}