h1 {
    margin-left: 1%;
    font-family:'Arial Narrow', Arial;
    letter-spacing: -2px;
    word-spacing: -1px;
    font-variant: small-caps;
}

main{
    margin-top: 30vh;
    display: flex;
    width: 80%;
    margin: auto;
}

/* grid container */
.resource-section {
    width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 40% 40%;
    grid-column-gap: 12%;
    grid-row-gap: 12%;
}

.link {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.hidden {
    display: none;
}
