body{
    display: grid;
    grid-template-rows: 20% 50% 20%;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: .5vw;
    top:5%;
    width: 95%;
    max-height:20%;
    padding: 2%;
    border-radius: 5%;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 120%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
}
h1 {
    margin-left: 1%;
    font-family:'Arial Narrow', Arial;
    letter-spacing: -2px;
    word-spacing: -1px;
    font-variant: small-caps;
}
img.logo {
    height: 100px;
    width: 100px;
    opacity: 0.7;
    border-radius: 50%;
}
img.nav {
    max-height: 90%;
    border-radius: 50%;
}
main{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resource-section {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 40% 40%;
    grid-column-gap: 7%;
    grid-row-gap: 10%;
}

.link {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}
.link:hover {
    -webkit-box-shadow: 5px 5px 19px 0px #000000; 
    box-shadow: 5px 5px 19px 0px #000000;
    transform: scale(1.05); 
}
.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    background-color: rgb(248, 215, 25, 0.5);
    border-radius: 5%;
    position: fixed;
    left: .5vw;
    bottom: 5%;
    width: 95%;
    max-height: 10%;
    padding: 2%;
}
nav {
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav:hover {
    -webkit-box-shadow: 5px 5px 19px 0px #000000; 
    box-shadow: 5px 5px 19px 0px #000000;
    transform: scale(1.05); 
}