body {
    cursor: pointer;
    height: 100%;
    margin: 15%;
}

li {
    margin: 5px;
    border-radius: 20px;
    background-color: #EDEDED;
    padding: 7px;
}

.title {
    margin-bottom: 10px;
}

ul {
    
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: scroll;
}

.heading-div {
    font-size: 20px;
    margin-bottom: 5px;
}

li h2, a {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: black;
}

a:visited {
    color: purple;
}

li p {
    margin-top: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
   letter-spacing: 3px;
}



